NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_ADMIN_USERNAME=
SEED_HR_EMAIL=
SEED_HR_PASSWORD=
SEED_HR_USERNAME=
SEED_HR_EMPLOYEE_ID=
SEED_ACCOUNTANT_EMAIL=
SEED_ACCOUNTANT_PASSWORD=
SEED_ACCOUNTANT_EMPLOYEE_ID=
SEED_EMPLOYEE_EMAIL=
SEED_EMPLOYEE_PASSWORD=
SEED_EMPLOYEE_LOGIN_ID=
